<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h2>Calculator</h2>
<table>
  <tr>
    <td colspan="4">
      <input readonly id="display_output" type="text" class="output" value="0">

    </td>
  </tr>
  <tr>
    <td>
      <button class="btn_num" (click)="btn_seven()">7</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_eight()">8</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_nine()">9</button>
    </td>
    <td>
      <button class="btn_op" (click)="btn_div()">÷</button>
    </td>

  </tr>
  <tr>
    <td>
      <button class="btn_num" (click)="btn_four()">4</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_five()">5</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_six()">6</button>
    </td>
    <td>
      <button class="btn_op" (click)="btn_mul()">×</button>
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn_num" (click)="btn_one()">1</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_two()">2</button>
    </td>
    <td>
      <button class="btn_num" (click)="btn_three()">3</button>
    </td>
    <td>
      <button class="btn_op" (click)="btn_sub()">-</button>
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn_num" (click)="btn_zero()">0</button>
    </td>
    <td>
      <button class="" (click)="btn_comma()">.</button>
    </td>
    <td>
      <button class="" (click)="btn_ans()">=</button>
    </td>
    <td>
      <button class="btn_op" (click)="btn_sum()">+</button>
    </td>
  </tr>
</table>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>